<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Admin Dashboard</h1>

    <h3>Total Resumes : {{ total }}</h3>

    <h3>Selected Candidates : {{ selected }}</h3>

    <h3>Rejected Candidates : {{ rejected }}</h3>

    <a href="/uploadpage">
        Upload Resume
    </a>

    <br><br>

    <a href="/ranking">
        View Candidate Ranking
    </a>

</div>

</body>
</html>